<nav>
  <ul>
      <!-- added accessibility -->
      <li><a [routerLink]="['/']" aria-label="Go to home page">Home</a></li>
      <li><a [routerLink]="['/dashboard']" aria-label="Go to dashboard page">Dashboard</a></li>
      <li>
        <a [routerLink]="loginService.isLoggedIn ? ['/'] : ['/login']"
          (click)="loginService.isLoggedIn ? logout() : login()"
          [attr.aria-label]="loginService.isLoggedIn ? 'Log out' : 'Login'">
          {{ loginService.isLoggedIn ? 'Log out' : 'Login' }}
        </a>
      </li>
  </ul>
</nav>
