.signup-frame {
  display: flex;
  flex-direction: column;
  width:60%;
  justify-content: center;
  margin: 1% 35%;
  padding: 3%;
}

#signup-title {
  width: 15%;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 30px;
  border-bottom: 1px #d9d9d9 solid;
}

.sub-frame {
  display: flex;
  height: 35px;
  flex-direction: row;
  margin: 5px;
  width: 320px;
}

.title {
  width: 100px;
  font-size: 2em;
}

.user-input {
  padding: 8px;
  width: 200px;
  font-size: 1.5em;
}


.signup-button{
  width: auto;
  height: 40px;
  margin-left: 2%;
  margin-top: 4%;
  margin-right: 5%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
  background: #4a8a5d;
  border-radius: 4px;
  align-items: right;
  display: flex;
  border: 1px #d9d9d9 solid;
  cursor: pointer;
}

.signup-text{
  text-align: center;
  color: #F5F5F5;
  font-size: 14px;
  font-weight: 600;
  word-wrap: break-word;
}

.center {
  justify-content: center;
}

.signup-message {
  margin-top: 40px;
  font-size: 15px;
}
