<div class="signup-frame">

  <div id="signup-title">Signup</div>

  <div class="sub-frame">
    <!-- For accessibility -->
    <label class="title" for="userId">UserId</label>
    <input class="user-input" type="text" placeholder="Enter your user ID" id="userId">
  </div>

  <div class="sub-frame">
    <label class="title" for="password">Password</label>
    <input class="user-input" type="password" placeholder="Enter your user password" id="password">
  </div>

  <div class="sub-frame">
    <label class="title" for="firstname">First Name</label>
    <input class="user-input" type="text" placeholder="Enter your user first name" id="firstname">
  </div>

  <div class="sub-frame">
    <label class="title" for="lastname">Last Name</label>
    <input class="user-input" type="text" placeholder="Enter your user last name" id="lastname">
  </div>

  <div class="sub-frame center">
    <button class="signup-button" (click)="signup()" id="signup">
      <div class="signup-text">Signup</div>
    </button>
  </div>
</div>
