<div class="signup-frame">

  <div id="signup-title">Signup</div>

  <div class="sub-frame">
    <label class="title">UserId</label>
    <input class="user-input" type="text" placeholder="Id" id="userId">
  </div>

  <div class="sub-frame">
    <label class="title">Password</label>
    <input class="user-input" type="password" placeholder="Password" id="password">
  </div>

  <div class="sub-frame">
    <label class="title">First Name</label>
    <input class="user-input" type="text" placeholder="Firstname" id="firstname">
  </div>

  <div class="sub-frame">
    <label class="title">Last Name</label>
    <input class="user-input" type="text" placeholder="Lastname" id="lastname">
  </div>

  <div class="sub-frame center">
    <button class="signup-button" (click)="signup()" id="signup">
      <div class="signup-text">Signup</div>
    </button>
  </div>
</div>
